<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="pnshsh.database.mapping.womanMapper">
    
    
    <select id="getWoman" parameterType="java.lang.String" 
        resultType="java.lang.String">
        select name from woman where id=#{id}
    </select>
    
    <select id="getWomanList" parameterType="long"
    	resultType="java.lang.String">
    	select name from woman order by id limit #{id},10
    </select>
    
    <select id="getLastId" parameterType="java.lang.String" resultType="java.lang.String">
    	select id from woman order by id desc limit 1
    </select>
    
    <insert id="addWoman" parameterType="pnshsh.database.bean.Woman">
    	insert into woman(id,name) values (#{id},#{name})
    </insert>
</mapper>